select {
  display: block;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}

.ATMDeposit {
  background: rgba(213, 192, 255, 0.769);
  padding: 30px;
  height: 100vh;
}
